@model Tarefas.Web.Models.TarefaViewModel


<form asp-action="Create">
   @Html.DisplayNameFor(Model=>Model.Titulo)<br>
    <input asp-for="Titulo"> <br><br>
  
   @Html.DisplayNameFor(Model=>Model.Descricao)<br>
    <input asp-for ="Descricao"><br><br>
    
    <textarea >Descrição</textarea>
    <br>
    <input type="submit">    

</form>