@model Tarefas.Web.Models.TarefaViewModel


<form asp-action="Create">
   Título da aplicação <br>
    <input asp-for="Titulo"> <br><br>
  
    Descrição do post<br>
    <input asp-for ="Descricao"><br><br>
    
    <textarea >Descrição</textarea>
    <br>
    <input type="submit">    

</form>